.nav {
  width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-sec-subtle);
  border-right: 1px solid var(--color-sec-border);
  background-color: var(--color-sec-bg);
  visibility: visible;
  opacity: 1;
}

.nav.is-shown {
  visiblity: visible;
  opacity: 1;
}

.nav-header {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-sec-border);
}

.nav-title {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.nav-title strong {
  font-weight: 600;
  color: var(--color-sec-strong);
}

.nav-header-icon {
  /* position: absolute; */
  width: 36px;
  height: 36px;
  top: 1.5rem;
  right: 1.75rem;
}

.nav-item {
  padding: 0.5em 0;
  text-transform: uppercase;
}

.nav-item .material-icons {
  font-size: 24px;
  color: var(--color-sec-subtle);
  margin-right: 0.5rem;
  vertical-align: middle;
}

.nav-button {
  display: block;
  width: 100%;
  padding-left: 0.75rem;
  line-height:  2;
  text-align: left;
  align-items: center;
  font-size: 18px;
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
}

.nav-button:hover, .nav-button:focus:not(.is-selected) {
  background-color: var(--color-sec-bg-subtle);
}

.nav-button.is-selected {
  background-color: var(--color-accent);
  color:  var(--color-sec-strong);
  /* font-weight:  600; */
}

.nav-button.is-selected:focus {
  opacity: 0.8;
}
